*~
_*
*.o
*.d
*.asm
*.sym
*.img
vectors.S
bootblock
entryother
initcode
initcode.out
kernelmemfs
mkfs
kernel/kernel
user/usys.S
.gdbinit
.vscode/
gradelib.py
grade-lab-util
grade_lab_lazy.py
.DS_Store
xv6.out